<!-- templates/goals/detail.html -->
{% extends 'base.html' %}
{% load static %}

{% block head %}
  <!-- New MCDatepicker CSS -->
  <link href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
  <!-- MCDatepicker JS -->
  <script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
  <script defer src="{% static 'js/goal-detail.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/goals/goal-detail.css' %}?v={{ ts }}">
{% endblock %}

{% block content %}
  <section class="goal-page-header">
    <h1>Details for {{ goal.name }}</h1>
  </section>

  <section class="goal-details-container">
    <article class="goal-card-detail">
      <div class="goal-image" aria-hidden="true"></div>
      <div class="goal-info-detail">
        <header class="goal-header-detail">
          <h2 class="goal-title-detail">{{ goal.name }}</h2>
          <span class="goal-date-chip">
            {{ goal.target_date|date:"n/j/Y" }}
          </span>
        </header>

        <div class="goal-status-detail">
          <span class="dot-status"></span>
          <span class="status-text-detail">{{ goal.status }}</span>
        </div>

        <p class="goal-description-detail">{{ goal.description }}</p>

        <p class="goal-amount-row">
          <strong>Amount saved:</strong> {{ goal.amount_saved|floatformat:3 }}/{{ goal.target_amount|floatformat:3 }}
        </p>

        <!-- Progress bar -->
        <div class="goal-progress-wrapper">
          <div class="goal-progress-bar" style="width: {{ goal.progress }}%"></div>
          <span class="goal-progress-text">
            {{ goal.progress }}%
          </span>
        </div>

        {% if goal.image %}
          <img src="{{ goal.image.url }}" alt="{{ goal.name }}">
        {% endif %}
      </div>
    </article>
  </section>

  <div class="goal-actions">
    <a href="{% url 'goal-update' goal.id %}" class="btn edit-btn">Edit</a>
    <a href="{% url 'goal-delete' goal.id %}" class="btn delete-btn">Delete</a>
    <a href="{% url 'goal-index' %}" class="btn back-btn">Back</a>
  </div>
{% endblock %}
