{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/accounts/account-index.css' %}" />
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Accounts</h1>
</div>

<!-- Table displaying the account details dynamically -->
<table class="account-table">
  <thead>
    <tr>
      <th>Account ID</th>
      <th>Account Name</th>
      <th>Balance</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through the accounts and display each row -->
    {% for account in accounts %}
      <tr>
        <td>{{ account.id }}</td>
        <td>{{ account.name }}</td>
        <td>{{ account.balance }}</td>
        <td>{{ account.last_updated|date:"Y-m-d" }} , {{ account.last_updated|time:"H:i:s" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
