<!-- account_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/accounts/account-index.css' %}" />
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Saving account</h1>
</div>

<!-- Table displaying the account details dynamically -->
<table class="account-table">
  <thead>
    <tr>
      <th>Balance</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through the saving accounts and display each row -->
    {% for saving_account in saving_accounts %}
      <tr>
        <td>{{ saving_account.balance }}</td>
        <td>{{ saving_account.last_updated|date:"Y-m-d" }} , {{ saving_account.last_updated|time:"H:i:s" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="page-header">
  <h1>Checking Accounts</h1>
</div>

<!-- Table displaying the Checking Account details dynamically -->
<table class="account-table">
  <thead>
    <tr>
      <th>Balance</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through the checking accounts and display each row -->
    {% for checking_account in checking_accounts %}
      <tr>
        <td>{{ checking_account.balance }}</td>
        <td>{{ checking_account.last_updated|date:"Y-m-d" }} , {{ checking_account.last_updated|time:"H:i:s" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
