<!-- templates/main_app/transaction_list.html -->

{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/transactions/transaction-index.css' %}">
{% endblock %}

{% block content %}
<section class="page-header">
  <h3>Transaction List</h3>
   <button class="add-transaction-btn">
      <a href="{% url 'transaction-create' %}">+ Add transaction</a>     
   </button>
</section>

<section class="card-container">
  {% for transaction in transactions %}
    <a href="{% url 'transaction-detail' transaction.id %}">
      <div class="transaction-card">
        <div class="transaction-thumb" aria-hidden="true"></div>
        <div class="transaction-info">
          <header class="transaction-top">
            <h2 class="transaction-title">{{ transaction.name }}</h2>
            <span class="date-chip">
              {{ transaction.transaction_date|date:"Y-m-d" }}  <!-- Use created_at for transaction date -->
            </span>
          </header>

          <div class="transaction-type">
            <span class="dot"></span>
            <span class="status-text">{{ transaction.transaction_type|capfirst }}</span> <!-- Income/Expenditure type -->
          </div>

          <p class="transaction-desc">
            {{ transaction.description }}
          </p>

          <p class="amount-row">
            <strong>Total Amount:</strong>
            <span>{{ transaction.amount|floatformat:0 }}</span>
          </p>

          <p class="amount-row">
            <strong>Savings Amount:</strong>
            <span>{{ transaction.saving_amount|floatformat:0 }}</span>
          </p>

          <p class="amount-row">
            <strong>Checking Amount:</strong>
            <span>{{ transaction.checking_amount|floatformat:0 }}</span>
          </p>

          <button class="transaction-view-btn">
            View Transaction
          </button>
        </div>
      </div>
    </a>
  {% empty %}
    <p class="empty">No transactions yet.</p>
  {% endfor %}
</section>

{% endblock %}
