{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/transactions/transaction-detail.css' %}">
{% endblock %}

{% block content %}
<section class="transaction-detail-header">
  <h3>Details for {{ transaction.name }} </h3>
</section>

<section class="transaction-detail-container">
  <div class="transaction-detail-card">
    <div class="transaction-detail-thumb" aria-hidden="true"></div>
    
    <div class="transaction-detail-info">
      <header class="transaction-detail-top">
        <h2 class="transaction-detail-title">{{ transaction.name }}</h2>
        <span class="date-chip-detail">
          {{ transaction.transaction_date|date:"Y-m-d" }}
        </span>
      </header>

      <div class="transaction-detail-type">
        <span class="dot"></span>
        <span class="status-text-detail">{{ transaction.transaction_type|capfirst }}</span>
      </div>

      <p class="transaction-detail-desc">
        {{ transaction.description }}
      </p>

      <p class="amount-row-detail">
        <strong>Total Amount:</strong>
        <span>{{ transaction.amount|floatformat:3 }}</span>
      </p>

      <p class="amount-row-detail">
        <strong>Savings Amount:</strong>
        <span>{{ transaction.saving_amount|floatformat:3 }}</span>
      </p>

      <p class="amount-row-detail">
        <strong>Checking Amount:</strong>
        <span>{{ transaction.checking_amount|floatformat:3 }}</span>
      </p>
    </div>
  </div>

   <div class="transaction-detail-actions">
        <a href="{% url 'transaction-update' transaction.id %}" class="btn update">Edit</a>
        <a href="{% url 'transaction-delete' transaction.id %}" class="btn delete">Delete</a>
        <a href="{% url 'transaction-index' %}" class="btn back">Back</a> 
  </div>
</section>

{% endblock %}
