{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SaveWise</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon_logo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        {% block head %} 
    {% endblock %}
  </head>
  <body>
<header>
  <div class="header-logo-container">
    <a href="/">
      <img src="{% static 'images/logo.png' %}" alt="SaveWise logo" />
    </a>
  </div>
 <nav>
  <ul>
    <li class="{% if request.path == '/home/' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
    <li class="{% if request.path == '/goals/' %}active{% endif %}"><a href="{% url 'goal-index' %}">Goals</a></li>
    <li class="{% if request.path == '/transactions/' %}active{% endif %}"><a href="{% url 'home'  %}">Transactions</a></li>
    <li class="{% if request.path == '/accounts/' %}active{% endif %}"><a href="{% url 'account-list'  %}">Accounts</a></li>
  </ul>
</nav>
  <button class="logout-button">Logout</button>
</header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
<footer>
  <div class="footer-content">
    <h3>About SaveWise</h3>
    <p>
      We inspire our users to achieve financial freedom and strive for a better future.
    </p>
    <div class="social-icons">
      <a href="#" class="instagram">📸</a>
      <a href="#" class="whatsapp">📱</a>
      <a href="#" class="linkedin">🔗</a>
      <a href="#" class="facebook">📘</a>
    </div>
    <p>&copy; 2025 SaveWise all rights reserved.</p>
  </div>
</footer>
  </body>
</html>