{% extends 'base.html' %} 
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

{% block content %}
<main>

  {% if user.is_authenticated %}
  <!-- Only show these sections if the user is authenticated -->
  <section class="cta">
    <div class="left">
        <h1>Start your journey to financial freedom today! </h1>
        <p>Set your goals, track your progress, and watch your savings grow!</p>
          <div class="cta-buttons">
          <a href="{% url 'goal-create' %}" class="btn add-goal">Add New Goal</a>
          <a href="{% url 'account-list' %}" class="btn go-to-accounts">View Accounts</a>
        </div>
    </div>
    <div class="right">
        <img src="{% static 'images/rich-people.jpg' %}" alt="rich-person" />
    </div>
  </section>

  <section class="value-prop">
    <h1>Why choose SaveWise?</h1>
    <div class="cards-container">
      <div class="card">
        <img src="{% static 'images/Goal.png' %}" alt="Smart Search" />
        <h3>Track Your Goals</h3>
        <p>Stay organized by setting and tracking your financial goals with ease.</p>
      </div>
      <div class="card">
        <img src="{% static 'images/Secure.png' %}" alt="Prime Locations" />
        <h3>Secure Your Savings</h3>
        <p>Protect your financial data with top-notch security features.</p>
      </div>
      <div class="card">
        <img src="{% static 'images/Insights.png' %}" alt="Verified Listings" />
        <h3>Gain Insights</h3>
        <p>Get detailed reports and insights to make informed financial decisions.</p>
      </div>
      <div class="card">
        <img src="{% static 'images/Global.png' %}" alt="24/7 Support" />
        <h3>Access Anytime, Anywhere</h3>
        <p>Manage your finances on the go with SaveWise's mobile-friendly platform.</p>
      </div>
    </div>
  </section>
  {% endif %}

  {% if not user.is_authenticated %}
  <section class="login-container">
    <form action="{% url 'home' %}" method="post" class="login-form">
      <h1>Welcome back to SaveWise.</h1>
      <p class="login">Login to your account.</p>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="login-btn">Login</button>
      <p class="signup-link">Don’t have an account? <a href="{% url 'signup' %}">Sign Up.</a></p>
    </form>
  </section>
  {% endif %}

</main>
{% endblock %}
