{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 

{% block content %}
<div class="form-container">
  <div class="page-header">
    <h1>Sign Up for SaveWise</h1>
  </div>

  {% if error_message %}
    <p class="red-text">{{ error_message }}</p>
  {% endif %}

  <form action="" method="post" class="signup-form" autocomplete="off">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
  </form>

  <p class="login-link">
    Have an account already? <a href="{% url 'home' %}">Login</a>
  </p>
</div>

{% endblock %}
