/* static/css/account-list.css */
.page-header{
  align-items: left;
  text-align: left;
  margin-left: 10%;
  margin-top: 60px;
  margin-bottom: 40px;
}

/* Table styles */
.account-table {
  margin: 0px auto;
  width: 80%;
  border: 2px solid #b5b5b5;
  border-collapse: collapse;
}

/* Table header styles */
.account-table th {
  text-align: left;
  padding: 12px;
  border: 2px solid #b5b5b5;
  background-color: #def6f6; /* Optional: Add a background color */
}

/* Table row styles */
.account-table td {
  padding: 12px;
  border: 1.5px solid #b5b5b5;
}

/* Optional: Add some hover effect for rows */
.account-table tr:hover {
  background-color: #f1f1f1;
}
